* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: darkblue;
    background-color: whitesmoke;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: deeppink;
    text-decoration: none;
}

a:hover {
    color: darkmagenta;
}

.avatar {
    max-width: 200px;
}

/* ——— AJOUTE À PARTIR D'ICI ——— */

main {
    margin-bottom: 40px; /* marge sous le main */
}

footer {
    border-top: 2px solid #ccc; /* ligne séparatrice */
    padding-top: 20px;          /* espace au-dessus du texte */
}
