* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: darkblue;
    background: linear-gradient(90deg, #8360C3, #2EBF91);
    list-style-position: inside;
    text-align: center;
}

nav {
    text-align: left;
    font-weight: bold;
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    color: darkblue;
    background-color: White;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

.competences {
    font-size: 2rem;
    font-color: lightblue;
}

.scolarite {
font-color: darkblue;
}

a {
    color: darkgreen;
    text-decoration: none;
}

a:hover {
    color: purple;
    text-decoration: underline;
    font-weight: bold;
}

.avatar {
    max-width: 200px;
    
}
