* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #0B0B45;
    background: linear-gradient(90deg, #009FFF, #EC2F4B);
    list-style-position: inside;
    text-align: center;
}

.marge {
max-width: 420px; 
  margin-left: 35%; 
  padding-left: 20px;;  
}

nav {
    text-align: left;
    font-weight: bold;
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    color: #0B0B45;
    background-color: White;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

.competences {
    font-size: 2rem;
    font-color: lightblue;
}

.scolarite {
font-color: darkblue;
}

a {
    color: darkred;
    text-decoration: none;
}

a:hover {
    color: purple;
    text-decoration: underline;
    font-weight: bold;
}

.avatar {
    max-width: 200px;
    
}
